header{font-size: 0; overflow: hidden; background: #990000;height: 2.7rem;  color: #fff; padding-left: 0.4rem;}
header .fl{ padding-top: 0.9rem;}
header .fr{ padding-top: 1.3rem;    padding-top: 1.5rem;}
header .fr a{ color: #fff; display: inline-block; vertical-align: top; margin-right: 0.6rem; }
header .fr a p{ font-size: 0.3rem; }
.funds-text{ font-size: 0.4rem; }
.funds-number{ font-size: 0.8rem; margin-top: 0.04rem;}

.funds{ height: 1.45rem; }
.funds div{ margin-top: 0.2rem;text-align: center; }
.funds .fl{ margin-left: 0.8rem; }
.funds .fr{ margin-right: 0.6rem; }
.funds div p{ color: #333;line-height: 0.5rem;  }
.funds .number{  }
.funds .text{ font-size: 0.34rem; }


.funds-list{ background: #fff;  }
.funds-list h3{ height: 1.06rem; line-height: 1.06rem; border-left: 3px solid #900000; color: #333; padding-left: 0.3rem; }
.funds-list ul li{ height: 1.3rem;padding: 0 0.4rem; border-bottom: 1px solid #e5e5e5; }
.funds-list ul li p.c9{ margin-top: 0.2rem; }
.funds-list ul li p.c3{ margin-top: 0.1rem; font-size: 0.32rem; }
.funds-list ul li .cr{ line-height: 1.3rem; }


.icon-Cashwithdrawal{ margin-top: -0.04rem; }