img.icon-pic01{ width: 0.86rem;height: 0.86rem; }
img.icon-pic02{ width: 0.86rem;height: 0.86rem; }
img.icon-pic03{ width: 0.86rem;height: 0.86rem; }
img.icon-pic04{ width: 0.86rem;height: 0.86rem; }
img.icon-pic05{ width: 0.86rem;height: 0.86rem; }
img.icon-pic06{ width: 0.86rem;height: 0.86rem; }
img.icon-pic07{ width: 0.86rem;height: 0.86rem; }
img.icon-pic08{ width: 0.86rem;height: 0.86rem; }