.logistics-message{ background: #fff; }
.logistics-message ul li{     border-bottom: 1px solid #e7e7e7;height: 1rem;line-height: 1rem; padding: 0 0.38rem; }
.logistics-message ul li span{ color: #333; width: 60%;padding-left: 0.15rem; display: inline-block; }