.userHeader{ background: url(../images/my/bg-mine.png) no-repeat; width: 100%; }
.user{ margin: 0 0.5rem;  }
.set{ text-align: right; padding-top: 0.5rem; }
.user-info{ padding-top: 0.5rem; }
.userlogo,.userlogo img{ border-radius: 50%; width: 1.5rem; height: 1.5rem; }

.username .nameinfo{  margin-top: 0.1rem;  }
.username span{ color: #fff;font-size: 0.4rem; margin-right: 0.15rem; }
.username img{ vertical-align: middle; }
.username .switch{ color: #ffa507; font-size: 0.34rem; margin-top: 0.1rem; }


.user li{ display: inline-block; vertical-align: top; margin-left: 0.3rem; }
.seticon{ float: right; line-height: 1.5rem;}

.user-status{ text-align: center; margin-top: 0.3rem; height: 1.1rem;}
.user-status li{ color: #fff; width: 1.8rem;}

.order-info{ margin-bottom: 0.2rem; background: #fff;  }
.order-info h4{ padding-left: 0.4rem;padding-right: 0.5rem;border-bottom: 1px solid #ccc;height: 1rem; line-height: 1rem; }
.order-info h4 span { font-size: 0.4rem; font-weight: normal; color: #333; }
.order-info h4 em img{ vertical-align: middle; }
.order-status{ margin-top: 0.4rem; height: 1.8rem; }
.order-status li{ vertical-align: top; display: inline-block; margin-left: 0.6rem; }
.order-status li i,.order-status li span{ display: block; }
.order-status li span{ margin-top: 0.1rem; }

.my-list{ background: #fff; }
.my-list li{ border-bottom: 1px solid #ccc; padding-left: 0.3rem; margin-right: 0.5rem; height: 1rem;line-height: 1rem; }
.my-list li a span{ color: #333; font-size: 0.32rem; margin-left: 0.1rem; }
.my-list li a img{ vertical-align: middle; }
.my-list li a .fr{ margin-top: 0.2rem; }