.order-detail-status{ height: 0.7rem; line-height: 0.7rem; background: #fff; padding-left: 0.5rem;  padding-right: 0.4rem; }
.order-detail-info{padding-left: 0.5rem; background: #fff; height: 1.42rem; }
.order-detail-info p{ color: #666; height: 0.71rem; line-height: 0.71rem; }

.order-detail-goods{ background: #fff; }
.order-detail .lb{ padding-left: 0.5rem; padding-right: 0.4rem; }
.order-detail{ height: 0.7rem; line-height: 0.7rem;  }
.order-detail-price{ height: 2rem; }
.order-detail-price p{ line-height: 0.66rem; }
.order-goods{ padding: 0.2rem 0;}
.order-goods-img img{ height: 1.32rem; width: 1.32rem; border:1px solid #efefef;}
.order-goods-detail{ width: 76.8%;border: 0; margin-left: 0.2rem; }
.goods-name{ color: #333; font-size: 0.3rem; line-height: 0.4rem; }
.property{ color: #999; font-size: 0.26rem; margin-top: 0.1rem; }
.order-price{ text-align: right;height: 0.7rem; line-height: 0.7rem; color: #333;}
.order-price i{ font-style: normal; font-size: 0.28rem; }

.order-detail-payment{ height: 1.04rem; line-height: 1.04rem; text-align: right;    padding-right: 0.36rem; }
.order-detail-payment-method p{ height: 1.14rem; line-height: 1.14rem; padding: 0 0.5rem; }

.order-detail-payment-method p .c9{ font-size: 0.26rem; }



.receiver-info{ height: 1.82rem; }

.logistics{ margin-left: 0.4rem; }
.logistics ul { margin-top: 0.4rem; }
.logistics ul li{ height: 1.24rem;border-left: 1px solid #e5e5e5;color: #888;}
.logistics ul li p{line-height: 0.3rem;}
.logistics ul li:before{content: ''; position: absolute; margin-left: -6px;width: 12px; height: 12px; border-radius: 50%;display: inline-block;  background: #e5e5e5; }
.logistics ul li:last-child .logistics-item{ border: 0; }

.logistics ul li.cur{ border-left:1px solid #900000; color: #900000;}
.logistics ul li.cur:before{ background: #900000; }


.logistics-time{ margin-top: 0.2rem; margin-bottom: 0.2rem; }
.logistics-addess{margin-left: -0.1rem; }
.logistics-item{ border-bottom: 1px solid #e5e5e5;margin-left: 0.2rem; }