.OrderNavbar{ border-bottom: 1px solid #e5e5e5; }
.OrderNavbar ul li{ color: #333; width: 1.36rem; text-align: center; height: 0.9rem; line-height: 0.9rem; display: inline-block; vertical-align: middle; }
.OrderNavbar ul li.cur{ border-bottom: 1px solid #900000; color: #900000; }

.OrderList ul li{ margin-top: 0.2rem; background: #fff; }
.OrderList ul li .lb{ padding-left: 0.36rem; padding-right: 0.36rem; }
.order-detail{ height: 0.7rem; line-height: 0.7rem;  }
.order-shopinfo{ color: #333; }
.order-shopinfo .icon-next{ margin-left: 0.1rem; }
.order-status{ color: #900000; }

.order-info { height: 0.7rem; line-height: 0.7rem; color: #666;}
.order-goods{ padding-bottom: 0.13rem }
.order-goods-img img{ height: 1.32rem; width: 1.32rem; border:1px solid #efefef;}
.order-goods-detail{ width: 76.8%;border: 0; margin-left: 0.2rem; }
.goods-name{ color: #333; font-size: 0.3rem; }
.property{ color: #999; font-size: 0.26rem; margin-top: 0.2rem; }
.order-price{ height: 0.7rem; line-height: 0.7rem; color: #333;}
.order-price i{ font-style: normal; font-size: 0.28rem;}
.BtnGroup{ height: 0.96rem;text-align: right;line-height: 0.96rem;}
.BtnGroup .Line-btn{ display: inline-block; width: 1.56rem; text-align: center; border-radius: 0.5rem; height: 0.5rem; font-size: 0.28rem; line-height: 0.5rem;  }
.BtnGroup .cancel-btn{ border:1px solid #666; color:#666;  }
.BtnGroup .payment-btn{ border:1px solid #900000; margin-left: 0.26rem;  }
.BtnGroup .payment-btn a{color: #900000; }




