.seller .order-status li{ margin: 0 0.8rem; }

.shop-set img{ width: 0.31rem; height: 0.28rem; }
.classify-manage img{ width: 0.31rem; height: 0.31rem; }
.goods-manage img{ width: 0.31rem; height: 0.32rem; }
.logistics-massge img{ width: 0.31rem; height: 0.31rem; }