/*此样式为用户中心的公共样式*/

.userHeader{ background: url(../images/my/bg-mine.png) no-repeat;background-size:100% 100%; height: 4.2rem;}
.user{ margin: 0 0.5rem;  }
.user-info{padding-top: 0.3rem;}
.set{ text-align: right; padding-top: 0.4rem; }
.userlogo,.userlogo img{ border-radius: 50%; width: 1.5rem; height: 1.5rem; }

.username .nameinfo{  margin-top: 0.1rem;  }
.username span{ color: #fff;font-size: 0.4rem; margin-right: 0.15rem; }
.username img{ vertical-align: middle; }
.username .switch{ color: #ffa507; font-size: 0.34rem; margin-top: 0.1rem; }

.user li{ display: inline-block; vertical-align: top; margin-left: 0.3rem; }
.seticon{ float: right; line-height: 1.5rem;}
.user-status{ text-align: center; margin-top: 0.3rem; height: 1.1rem;}
.user-status li{ color: #fff; width: 1.8rem;}

.order-info{ margin-bottom: 0.2rem; background: #fff;  }
.order-info h4{ padding-left: 0.4rem;padding-right: 0.5rem;border-bottom: 1px solid #ccc;height: 1rem; line-height: 1rem; }
.order-info h4 span { font-size: 0.4rem; font-weight: normal; color: #333; }
.user-order-status{text-align: center; margin-top: 0.4rem; height: 1.45rem;    font-size: 0; }
.user-order-status li{vertical-align: top; display: inline-block;  }
.user-order-status li i,.user-order-status li span{ display: block; }
.user-order-status li span{ margin-top: 0.2rem; font-size: 0.3rem; color: #48302c; }

.my-list{ background: #fff; }
.my-list li{ border-bottom: 1px solid #ccc; padding-left: 0.32rem; padding-right: 0.5rem; height: 1rem;line-height: 1rem; }
.my-list li a span{ color: #333; font-size: 0.32rem; margin-left: 0.1rem; }
.my-list li a img{ vertical-align: middle; }
.my-list li a .icon-next{ margin-top: 0.4rem;}


/*用户中心  我的买家 icon小图标设置宽高*/
img.nav-setting{width: 0.45rem; height: 0.45rem;vertical-align: middle;}
img.nav-next{ width: 0.15rem; height: 0.27rem; vertical-align: middle;}
img.icon-woman{ width: 0.27rem;height: 0.27rem; vertical-align: middle; }
/*个人信息  订单信息 设置icon宽高*/
img.icon-obligation{ width: 0.54rem; height: 0.45rem; vertical-align: middle;}
img.icon-ToSendTheGoods{width: 0.6rem; height: 0.46rem;vertical-align: middle;}
img.icon-ForTheGoods{width: 0.63rem;height: 0.45rem;vertical-align: middle;}
img.icon-toEvaluate{width: 0.5rem;height: 0.5rem;vertical-align: middle;}

/*个人信息  我的买家 明细列表 设置icon宽高*/
img.icon-integral{ width: 0.31rem; height: 0.33rem;vertical-align: middle;}
img.icon-funds{ width: 0.3rem; height: 0.34rem; vertical-align: middle;}
img.icon-vouchers{ width: 0.31rem; height: 0.2rem;vertical-align: middle; }
img.icon-letters{ width: 0.32rem;height: 0.27rem;vertical-align: middle; }
img.open-shop{ width: 0.31rem; height: 0.28rem;vertical-align: middle; }
img.icon-about{ width: 0.31rem; height: 0.32rem; vertical-align: middle; }
img.icon-shop{ width: 0.31rem; height: 0.28rem; vertical-align: middle;}
img.icon-next{ width: 0.13rem; height: 0.25rem; vertical-align: middle;}

/*个人信息  我的卖家  设置icon宽高*/
img.icon-kind{ width: 0.31rem; height: 0.31rem; vertical-align: middle;}
img.icon-merchandise{ width: 0.31rem; height: 0.32rem; vertical-align: middle;}
img.icon-logistics{ width: 0.31rem; height: 0.31rem; vertical-align: middle;}


/*订单详情 收货地址icon*/
img.icon-position{ width: 0.28rem; height: 0.33rem;  vertical-align: top;}

/*订单详情  选择收获地址icon*/
img.icon-edit{ width: 0.23rem; height: 0.26rem; }
img.icon-empty{width: 0.22rem; height: 0.25rem;}
img.icon-choose{width: 0.38rem; height: 0.38rem;}


/*物流管理 设置icon宽高*/
img.icon-zto{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-ems{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-bsht{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-sf{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-yto{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-yd{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-sto{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-tt{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-zjs{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-tdhy{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-yd{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.icon-db{width: 0.58rem; height:0.58rem; vertical-align: middle;}
img.slide-right{width: 0.84rem; height:0.44rem; vertical-align: middle;}
img.slide-left{width: 0.84rem; height:0.44rem; vertical-align: middle;}


/*箭头符号icon*/



img.icon-wechat{width: 0.38rem;height: 0.38rem; vertical-align: middle;}
img.icon-alipay{width: 0.38rem;height: 0.38rem; vertical-align: middle;}