.vouchers{ background: #fff; }
.vouchers ul li{ height: 1.3rem;padding: 0 0.4rem; border-bottom: 1px solid #e5e5e5; }
.vouchers ul li p.c9{ margin-top: 0.2rem; }
.vouchers ul li p.c3{ margin-top: 0.1rem; font-size: 0.32rem; }
.vouchers ul li .cr{ line-height: 1.3rem; }