/*确认充值css*/
.recharge-money input{color: #999; font-size: 0.32rem; height: 1.06rem; border: 0; line-height: 1.06rem; width: 100%; padding-left: 0.45rem;  }
button{ width: 5.96rem; color: #fff; font-size: 0.38rem; letter-spacing: 0.2rem; margin-top: 0.74rem; margin-left: 10%; border-radius: 0.1rem; height: 0.75rem; width: 80%; border: 0; background: #900000; }
