/*修改昵称css*/
button{ width: 5.96rem; color: #fff; font-size: 0.34rem; letter-spacing: 0.2rem; margin-top: 2.8rem; margin-left: 10%; border-radius: 0.1rem; height: 0.75rem; width: 80%; border: 0; background: #900000; }
.entry-nickname input{ margin-top: 0.1rem; width: 100%; color: #666;  border: 0; font-size: 0.32rem; height: 1.06rem; line-height: 1.06rem; padding-left: 0.4rem; }
